@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: roboto;
}

.whole {
  display: grid;
  grid-template-areas:
    "side main"
    "side main";
  grid-template-columns: 200px auto;
  grid-template-rows: 2fr;
  min-height: 100vh;
}

.side {
  grid-area: side;
  background-color: #1d2228;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  padding: 0.6rem 1rem;
  color: #d2d3d4;
}

.nav-link:hover {
  color: #7d4011;
  background-color: #fb8122;
}

.nav-link-active {
  color: #7d4011;
  background-color: #fb8122;
}

.title {
  color: #d2d3d4;
  padding: 2rem 0.5rem;
  font-size: 24px;
}
/* 
@media only screen and (max-width: 600px) {
  .whole {
    grid-template-areas:
      "side side"
      "main main";
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
  }
  .nav-link {
    text-align: center;
    padding: 0.1rem 1rem;
  }
} */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.customButton {
  padding: 0.2rem 0.5rem;
  background-color: #1d2228;
  color: #d2d3d4;
  border-radius: 3px;
  margin: 0.2rem;
}
